.affiche
  &__title
  &__calendar
    padding: 0 10px

#calendar
  width: 100%
  +clr

.calBox
  background-color: #fff
  position: relative
  text-align: center
  color: white
  overflow: hidden
  user-select: none


.calElement

.calYear
  .calElement

.calMonth
  width: 5%
  position: absolute
  left: 21px
  border-right: 1px solid rgba(0, 0, 0, 0.1)
  border-left: 1px solid rgba(0, 0, 0, 0.1)
  .calElement
    font-size: 14px
    color: rgba(0, 0, 0, 0.1)
    line-height: 1.8
    display: block
    clear: both
  .calElement:hover
    cursor: pointer
  .calElement.selected
    color: #000


.calDay
  float: right
  width: 100%
  +R3
  font-size: 11px
  padding: 0 21px 0 7%
  .before
    display: inline-block
    vertical-align: top
    padding: 0 5px
    height: 60px
    color: #000
    +R3
    font-size: 14px
    line-height: 60px
  .calElement
    color: #c3c6c8
    margin: 0 5px
    display: inline-block
  .calElement.prev,
  .calElement.next
    width: 10px
    height: 60px
    margin: 0
    position: absolute
    top: 0
    opacity: 0.1
  .calElement.prev
    background: url(../img/arr-l.png) #fff no-repeat center center
    left: 0
  .calElement.next
    background: url(../img/arr-r.png) #fff no-repeat center center
    right: 0


span.calElement.next:hover,
span.calElement.prev:hover
  opacity: 1
  cursor: pointer
  background-color: #fff



.calElement
  .dayNumber
    display: inline-block
    width: 100%
    font-size: 11px
    line-height: 60px
    background-color: #f2f6f8

.calElement.selected
  .dayNumber
    background-color: #c24750
    color: #fff
.calElement.today
  .dayNumber
    background-color: #d24d57
    color: #fff
.calElement.until
  .dayNumber
    background-color: #ba9158
    color: #fff

span.calElement:hover
  .dayNumber
    background-color: #d24d57
    color: #fff
    cursor: pointer
