<section class="artists">
  <h4 class="artists__title title">Артисти</h4>
  <div class="artists__list">
    <figure>
      <div class="artists__photo" style="background-image: url(img/artists/artists1.png)">
        <a href="#" class="more"><i class="icon-more"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>Академічний симфонічний орекстр НФУ</figcaption>
    </figure>
    <figure>
      <div class="artists__photo" style="background-image: url(img/artists/artists2.png)">
        <a href="#" class="more"><i class="icon-more"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>Київський камерний орекстр</figcaption>
    </figure>
    <figure>
      <div class="artists__photo" style="background-image: url(img/artists/artists3.png)">
        <a href="#" class="more"><i class="icon-more"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>Камерні ансамблі</figcaption>
    </figure>
    <figure>
      <div class="artists__photo" style="background-image: url(img/artists/artists.png)">
        <a href="#" class="more"><i class="icon-more"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>Солісти інструменталісти</figcaption>
    </figure>
    <figure>
      <div class="artists__photo" style="background-image: url(img/artists/artists4.png)">
        <a href="#" class="more"><i class="icon-more"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>Концертмейстри</figcaption>
    </figure>
    <figure>
      <div class="artists__photo" style="background-image: url(img/artists/artists5.png)">
        <a href="#" class="more"><i class="icon-more"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>Камерні ансамблі</figcaption>
    </figure>
  </div>
</section>
