<section class="bunner">
  <div class="bunner__carusel js-banner">
    <div class="bunner__slide" style="background-image: url(img/bunner/bunner.png)">
      <span class="bunner__show">П’єр Лоран Емар</span>
      <span class="bunner__country">(фортепіано) Франція</span>
      <a href="#" class="bunner__btn">Замовити квитки</a>
    </div>
    <div class="bunner__slide" style="background-image: url(img/bunner/bunner.png)">
      <span class="bunner__show">П’єр Лоран Емар</span>
      <span class="bunner__country">(фортепіано) Франція</span>
      <a href="#" class="bunner__btn">Замовити квитки</a>
    </div>
    <div class="bunner__slide" style="background-image: url(img/bunner/bunner.png)">
      <span class="bunner__show">П’єр Лоран Емар</span>
      <span class="bunner__country">(фортепіано) Франція</span>
      <a href="#" class="bunner__btn">Замовити квитки</a>
    </div>
    <div class="bunner__slide" style="background-image: url(img/bunner/bunner.png)">
      <span class="bunner__show">П’єр Лоран Емар</span>
      <span class="bunner__country">(фортепіано) Франція</span>
      <a href="#" class="bunner__btn">Замовити квитки</a>
    </div>
    <div class="bunner__slide" style="background-image: url(img/bunner/bunner.png)">
      <span class="bunner__show">П’єр Лоран Емар</span>
      <span class="bunner__country">(фортепіано) Франція</span>
      <a href="#" class="bunner__btn">Замовити квитки</a>
    </div>
    <div class="bunner__slide" style="background-image: url(img/bunner/bunner.png)">
      <span class="bunner__show">П’єр Лоран Емар</span>
      <span class="bunner__country">(фортепіано) Франція</span>
      <a href="#" class="bunner__btn">Замовити квитки</a>
    </div>
    <div class="bunner__slide" style="background-image: url(img/bunner/bunner.png)">
      <span class="bunner__show">П’єр Лоран Емар</span>
      <span class="bunner__country">(фортепіано) Франція</span>
      <a href="#" class="bunner__btn">Замовити квитки</a>
    </div>
  </div>
  <div class="bunner__nav js-banner-nav">
    <div class="bunner__nav-item">
      <span class="name">П’єр Лоран Емар</span>
      <span class="from">(фортепіано) Франція</span>
    </div>
    <div class="bunner__nav-item">
      <span class="name">П’єр Лоран Емар</span>
      <span class="from">(фортепіано) Франція</span>
    </div>
    <div class="bunner__nav-item">
      <span class="name">П’єр Лоран Емар</span>
      <span class="from">(фортепіано) Франція</span>
    </div>
    <div class="bunner__nav-item">
      <span class="name">П’єр Лоран Емар</span>
      <span class="from">(фортепіано) Франція</span>
    </div>
    <div class="bunner__nav-item">
      <span class="name">П’єр Лоран Емар</span>
      <span class="from">(фортепіано) Франція</span>
    </div>
    <div class="bunner__nav-item">
      <span class="name">П’єр Лоран Емар</span>
      <span class="from">(фортепіано) Франція</span>
    </div>
  </div>
</section>
