<footer class="footer">
  <div class="footer__main">
    <div class="footer__logo" >
      <img src="img/logo-footer.svg" alt="НАЦІОНАЛЬНА ФІЛАРМОНІЯ УКРАЇНИ" class="logo-img"/>
    </div>
    <ul class="footer__menu menu">
      <li class="menu-item">
        <a href="#" class="menu-link">Про філармонію</a>
        <ul class="footer__drop">
          <li class="drop-item"><a href="history.html" class="drop-link">Історія</a></li>
          <li class="drop-item"><a href="#" class="drop-link">Симф.оркестр</a></li>
          <li class="drop-item"><a href="#" class="drop-link">3ККО</a></li>
          <li class="drop-item"><a href="#" class="drop-link">Виконавці</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">Афіша концертів</a>
        <ul class="footer__drop">
          <li class="drop-item"><a href="concerts-col-hall.html" class="drop-link">Концерти кол.залу</a></li>
          <li class="drop-item"><a href="#" class="drop-link">Концерти в залах Києва</a></li>
          <li class="drop-item"><a href="subs-col-hall.html" class="drop-link">Абон. кол. Залу</a></li>
          <li class="drop-item"><a href="#" class="drop-link">Абонементи для дітей</a></li>
          <li class="drop-item"><a href="#" class="drop-link">Фестивалі та конкурси</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">Офіційна інформація</a>
        <ul class="footer__drop">
          <li class="drop-item"><a href="info.html" class="drop-link">Інформація про діяльність</a></li>
          <li class="drop-item"><a href="#" class="drop-link">Державні закупівлі</a></li>
        </ul>
      </li>
    </ul>
    <ul class="footer__socials social">
      <li class="social__block"><a href="#" class="social__link"><i class="icon-fb"></i></a></li>
      <li class="social__block"><a href="#" class="social__link"><i class="icon-tw"></i></a></li>
      <li class="social__block"><a href="#" class="social__link"><i class="icon-email"></i></a></li>
    </ul>
  </div>
  <div class="footer__info">
    <ul class="footer__info-box">
      <li class="footer__info-top">Web-site</li>
      <li class="footer__info-bottom"><a href="http://Philarmonia.com.ua">Philarmonia.com.ua</a></li>
    </ul>
    <ul class="footer__info-box">
      <li class="footer__info-top">Email</li>
      <li class="footer__info-bottom"><a href="mailto:Philarmonia@ukrpost@.ua">Philarmonia@ukrpost@.ua</a></li>
    </ul>
    <ul class="footer__info-box">
      <li class="footer__info-top">Розпорядок роботи квиткової каси</li>
      <li class="footer__info-bottom">10.00-19.00</li>
    </ul>
    <ul class="footer__info-box">
      <li class="footer__info-top">Квиткова касса</li>
      <li class="footer__info-bottom"><a href="tel:278-16-97">278-16-97</a></li>
    </ul>
    <ul class="footer__info-box">
      <li class="footer__info-top"><i class="icon--visa"></i></li>
      <li class="footer__info-bottom"><i class="icon--maestro"></i></li>
    </ul>
  </div>
  <div class="footer__copy">
    &copy; Національна Філармонія України, 2016
  </div>
</footer>
