<!-- BEGIN  header-->
<header class="header">
  <div class="header__wrap">
    <div class="header__top-side">
      <div class="header__logo" >
        <a href="index.html"><img src="img/main-logo.svg" alt="НАЦІОНАЛЬНА ФІЛАРМОНІЯ УКРАЇНИ" class="logo-img"/></a>
      </div>
      <button type="button" name="button" class="btn-nav"></button>
      <div class="header__btns">
        <ul class="header__socials social">
          <li class="social__block"><a href="#" class="social__link"><i class="icon-fb"></i></a></li>
          <li class="social__block"><a href="#" class="social__link"><i class="icon-tw"></i></a></li>
          <li class="social__block"><a href="#" class="social__link"><i class="icon-email"></i></a></li>
        </ul>
        <a href="#" class="header__lang">ENG</a>
        <a href="#" class="header__lang is-active">УКР</a>
      </div>
    </div>
    <div class="header__nav">
      <ul class="menu js-nav">
        <li class="menu-item js-item">
          <a href="index.html" class="menu-link">Про філармонію</a>
          <ul class="header__drop">
            <li class="drop-item js-drop"><a href="history.html" class="drop-link">Історія</a></li>
            <li class="drop-item js-drop"><a href="#" class="drop-link">Симф.оркестр</a></li>
            <li class="drop-item js-drop"><a href="#" class="drop-link">3ККО</a></li>
            <li class="drop-item js-drop"><a href="#" class="drop-link">Виконавці</a></li>
          </ul>
        </li>
        <li class="menu-item js-item"><a href="#" class="menu-link">3D екскурсія</a></li>
        <li class="menu-item js-item"><a href="news.html" class="menu-link">Новини</a></li>
        <li class="menu-item js-item">
          <a href="#" class="menu-link">Афіша концертів</a>
          <ul class="header__drop">
            <li class="drop-item js-drop"><a href="concerts-col-hall.html" class="drop-link">Концерти кол.залу</a></li>
            <li class="drop-item js-drop"><a href="#" class="drop-link">Концерти в залах Києва</a></li>
            <li class="drop-item js-drop"><a href="subs-col-hall.html" target="_self" class="drop-link" >Абон. кол. Залу</a></li>
            <li class="drop-item js-drop"><a href="#" class="drop-link">Абонементи для дітей</a></li>
            <li class="drop-item js-drop"><a href="#" class="drop-link">Фестивалі та конкурси</a></li>
          </ul>
        </li>
        <li class="menu-item js-item"><a href="buy-tickets.html" class="menu-link">Бронь\купівля квитків</a></li>
        <li class="menu-item js-item">
          <a href="#" class="menu-link">Офіційна інформація</a>
          <ul class="header__drop js-drop">
            <li class="drop-item js-drop"><a href="info.html" class="drop-link">Інформація про діяльність</a></li>
            <li class="drop-item js-drop"><a href="#" class="drop-link">Державні закупівлі</a></li>
            <li class="drop-item js-drop"><a href="#" class="drop-link">Вакансії</a></li>
          </ul>
        </li>
        <li class="menu-item js-item"><a href="order-concerts.html" class="menu-link">Замовлення концертів</a></li>
        <li class="menu-item js-item"><a href="contacts.html" class="menu-link">Контакти</a></li>
      </ul>
    </div>
  </div>
</header>
<!-- END header-->
