<section class="hot">
  <h5 class="hot__title">Гарячі події</h5>
  <div class="hot__list">
    <figure>
      <div class="hot__photo" style="background-image: url(img/hot-event/hot1.png)">
        <a href="#" class="ticket"><i class="icon-ticket"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>
      <span class="hot__name">Концерт циклу “Kyuiv accordion fest”</span>
      <span class="hot__date">07-05-2016</span>
      <span class="hot__time">19:00</span>
    </figcaption>
    </figure>
    <figure>
      <div class="hot__photo" style="background-image: url(img/hot-event/hot2.png)">
        <a href="#" class="ticket"><i class="icon-ticket"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>
      <span class="hot__name">Концерт циклу “Kyuiv accordion fest”</span>
      <span class="hot__date">07-05-2016</span>
      <span class="hot__time">19:00</span>
    </figcaption>
    </figure>
    <figure>
      <div class="hot__photo" style="background-image: url(img/hot-event/hot3.png)">
        <a href="#" class="ticket"><i class="icon-ticket"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>
      <span class="hot__name">Концерт циклу “Kyuiv accordion fest”</span>
      <span class="hot__date">07-05-2016</span>
      <span class="hot__time">19:00</span>
    </figcaption>
    </figure>
    <figure>
      <div class="hot__photo" style="background-image: url(img/hot-event/hot4.png)">
        <a href="#" class="ticket"><i class="icon-ticket"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>
      <span class="hot__name">Концерт циклу “Kyuiv accordion fest”</span>
      <span class="hot__date">07-05-2016</span>
      <span class="hot__time">19:00</span>
    </figcaption>
    </figure>
  </div>
</section>
