<section class="news">
  <h4 class="news__title">Новини</h4>
  <div class="news__list js-news">
    <figure>
      <div class="news__photo" style="background-image: url(img/news/news1.png)">
        <a href="#" class="more"><i class="icon-more"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>
        <span class="news__name">Національний академічний духовий оркестр України</span>
        <time>07-05-2016</time>
      </figcaption>
    </figure>
    <figure>
      <div class="news__photo" style="background-image: url(img/news/news2.png)">
        <a href="#" class="more"><i class="icon-more"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>
        <span class="news__name">В.А. Моцарт - Симфонія №39, мібемоль мажор, К. 543, Симфоніча поема…</span>
        <time>07-05-2016</time>
      </figcaption>
    </figure>
    <figure>
      <div class="news__photo" style="background-image: url(img/news/news3.png)">
        <a href="#" class="more"><i class="icon-more"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>
        <span class="news__name">3d екскурсія</span>
        <time>07-05-2016</time>
      </figcaption>
    </figure>
    <figure>
      <div class="news__photo" style="background-image: url(img/news/news3.png)">
        <a href="#" class="more"><i class="icon-more"></i><span class="more-hover">Детальніше</span></a>
      </div>
      <figcaption>
        <span class="news__name">3d екскурсія</span>
        <time>07-05-2016</time>
      </figcaption>
    </figure>
  </div>
</section>
