<section class="subscription">
  <h4 class="subscription__title title">Абонементи</h4>
  <div class="subscription__list">
    <figure>
      <div class="subscription__photo" style="background-image: url(img/subscription/subscription1.png)">
        <a href="#" class="ticket">
          <i class="icon-ticket"></i>
          <span class="more-hover">Купити</span>
        </a>
      </div>
      <figcaption><span class="subscription__name">Абонементи Колонного залу</span></figcaption>
    </figure>
    <figure>
      <div class="subscription__photo" style="background-image: url(img/subscription/subscription2.png)">
        <a href="#" class="ticket">
          <i class="icon-ticket"></i>
          <span class="more-hover">Купити</span>
        </a>
      </div>
      <figcaption><span class="subscription__name">Абонементи для дітей</span></figcaption>
    </figure>
    <figure>
      <div class="subscription__photo" style="background-image: url(img/subscription/subscription3.png)">
        <a href="#" class="ticket">
          <i class="icon-ticket"></i>
          <span class="more-hover">Купити</span>
        </a>
      </div>
      <figcaption><span class="subscription__name">Концерти в залах м.Києва</span></figcaption>
    </figure>
  </div>
</section>
